<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <style>
      .img.hide {
        opacity: 0;
        /* transform: scale(3); */
      }
      .img {
        transition: opacity 1s;
        /* transition: all 1s; */
      }
    </style>
  </head>

  <body>
    <div id="counter">
      <h1>{{count}}</h1>
      <button @click="add">+1</button>
      <input v-model="text" type="text" />
      <span>{{text}}</span>
      <hr />
      <h4 v-if="loading">Loading</h4>
      <h4 v-else>Complete</h4>
      <img
        :class="imageClass"
        @load="loading=false"
        src="https://picsum.photos/200/300"
      />
    </div>
    <script>
      new Vue({
        el: "#counter",
        data: {
          count: 0,
          text: "",
          loading: true,
        },
        computed: {
          imageClass() {
            if (this.loading) {
              return "img hide";
            } else {
              return "img";
            }
          },
        },
        methods: {
          add() {
            this.count += 1;
          },
        },
      });
    </script>
  </body>
</html>
