<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <span v-if="see">Now you see me</span>
      <span v-else>Now you don't</span>

      <div v-for="step in steps" :key="step.id">
        {{step}}
      </div>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          see: false,
          steps: ["Learn Javascript", "Learn Vue", "Become a millionaire"],
        },
      });
    </script>
  </body>
</html>
