<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <input v-model="input" type="text" />
      <button @click="add">Add</button>
      <ul>
        <li v-for="(item, index) in items" @click="remove(index)">
          {{item}}
        </li>
      </ul>
      <select>
        <option v-for="month in months">{{month}}</option>
      </select>
      <select>
        <option v-for="month in 12">{{month}}</option>
      </select>
      <select>
        <option v-for="(month,i) in monthsE" :value="i">{{month}}</option>
      </select>
      <div v-for="(value,key) in me">{{key}} - {{value}}</div>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          input: "",
          items: ["學會Javascript", "學會Vue", "投遞履歷"],
          months: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
          monthsE: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
          me: {
            name: "Shawn",
            age: 22,
            password: "1234567",
          },
        },
        methods: {
          add() {
            this.items.push(this.input);
            this.input = "";
          },
          remove(index) {
            this.items.splice(index, 1);
          },
        },
      });
    </script>
  </body>
</html>
